{
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true
  },

  "rules": {
    "strict": "error",
    "default-case": "error",
    "no-self-compare": "error",
    "no-else-return": "error",
    "no-throw-literal": "error",
    "no-void": "error",
    "max-params": ["error", 5],
    "max-depth": ["error", 3],
    "max-len": ["error", 100, 4, {"ignoreUrls": true}],
    "indent": ["error", 4],

    "comma-style": ["error", "last"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "consistent-this": ["error", "DO NOT USE"],

    "object-curly-spacing": ["error", "never"],
    "computed-property-spacing": ["error", "never"],
    "array-bracket-spacing": ["error", "never"],
    "space-before-function-paren": ["error", "never"],
    "space-before-blocks": ["error", "always"],

    "no-var": "error",
    "no-new-require": "error",
    "no-lonely-if": "error",
    "no-nested-ternary": "error",
    "no-multiple-empty-lines": ["error", {
      "max": 1
    }],
    "no-multi-spaces": ["error", {
      "exceptions": {
        "Property": true,
        "ImportDeclaration": true,
        "VariableDeclarator": true,
        "AssignmentExpression": true
      }
    }],
    "key-spacing": ["error", {"align": "value"}],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "comma-spacing": ["error", { "before": false, "after": true }]
  }
}