doctype html
html(ng-app="app")
    head
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=1")
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        link(rel="stylesheet",href="/bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet",href="/bower_components/bootstrap/dist/css/bootstrap-theme.css")
        link(rel="stylesheet",href="/bower_components/font-awesome/css/font-awesome.css")
        script(src='/bower_components/filesaver/FileSaver.js')
        script(src='/scripts/js_merge_xlsx.js')
        link(rel='stylesheet', href="/styles/app.css")
    body(ng-controller="indexController")
        #HeaderArea
            .main-view
                | js-merge-xlsx
        #ContentArea
            .main-view
                .button-area
                    a.btn.btn-primary(ng-click="exampleMerge()") Normal / Single
                    a.btn.btn-primary(ng-click="exampleBulkMergeMultiFile()") Normal / Bulk / files
                    a.btn.btn-primary(ng-click="exampleBulkMergeMultiSheet()") Normal / Bulk / sheets
                .button-area
                    a.btn.btn-primary(ng-click="charSingle()") Char / Single
                    a.btn.btn-primary(ng-click="charBulkFiles()") Char / Bulk / files
                    a.btn.btn-primary(ng-click="charBulkSheets()") Char / Bulk / sheets
                .button-area
                    a.btn.btn-primary(ng-click="exampleBulkMergeMultiFile()") Mass / files
                    a.btn.btn-primary(ng-click="exampleBulkMergeMultiSheet()") Mass / sheets
                .button-area
                    a.btn.btn-primary(ng-click="exampleMerge()") Inline / Single
                    a.btn.btn-primary(ng-click="exampleBulkMergeMultiFile()") Inline / Bulk / files
                    a.btn.btn-primary(ng-click="exampleBulkMergeMultiSheet()") Inline / Bulk / sheets
                .button-area
                    a.btn.btn-primary(ng-click="exampleMerge()") Inline-Char / Single
                    a.btn.btn-primary(ng-click="exampleBulkMergeMultiFile()") Inline-Char / Bulk / files
                    a.btn.btn-primary(ng-click="exampleBulkMergeMultiSheet()") Inline-Char / Bulk / sheets

