@charset "UTF-8";
body {
  font-size: 14px;
  line-height: 1.5;
  margin: 0px;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  background-color: white; }

.main-view {
  width: 87.5%;
  min-width: 647.5px;
  margin: 0 auto; }

a.btn.btn-primary {
  padding: 10px 23px;
  background-color: rgba(41, 131, 209, 0.9);
  border-color: rgba(41, 131, 209, 0.9);
  color: white;
  background-image: none;
  margin-right: 10px; }

#HeaderArea {
  height: 85px;
  font-size: 34px;
  background-color: rgba(41, 131, 209, 0.9);
  padding-top: 14px;
  color: #ffffff; }

.button-area {
  margin-top: 10px; }
